<div class="col-xs-8 col-xs-offset-2 sentence">
  <div class="row">
   <% if flash[:sentence_errors] %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(flash[:sentence_errors].count, "error") %> prohibited this sentence from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% flash[:sentence_errors].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="houseflag" style="background-image: url(<%= @house_flag_url %>); margin-top: 20px"></div>
      </div>
      <div class="col-xs-8">
        <h2 style="color: <%= @house_color %>; font-size: 2em"> Latest Sentence in <%= @house_name.capitalize %> (Total: <%= pluralize(@counter, "sentences" )%>)</h2>
        <h2 style="color: <%= @house_color %>; font-size: 1.6em"> By <strong><%= @user_name %> </strong></h2>
        <h3 style="font-size: 1.2em; opacity: 0.8"><%= @latest_sentence %></h3>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
      </div>
    </div>

    <div class="row">
      <%= form_for @sentence, :html => { :class => "form-horizontal sentence" } do |f| %>
        <% if @sentence.errors.any? %>
          <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%= pluralize(@sentence.errors.count, "error") %> prohibited this sentence from being saved:</h3>
            </div>
            <div class="panel-body">
              <ul>
              <% @sentence.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="form-group" style="margin-top: 20px">
          <%= f.label "Submit a new sentence: ", :class => 'control-label', :style =>'color:' + @house_color %>
          <%= f.text_area :sentence_text, :value => (flash[:sentence_text] || ""), :class => 'form-control' %>
          <%= f.hidden_field :created_at, :value => (DateTime.now), :class => 'form-control' %>
          <%=f.error_span(:sentence_text) %>
        </div>

        <div class="form-group">
          <center>
            <div class="">
              <%= f.submit "Submit Sentence", :class => 'btn btn-primary', :style => 'background-color:' + @house_color + '; border-color: white' %>
            </div>
          </center>
        </div>
      <% end %>
    </div>

</div>
