<%- model_class = Sentence -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @sentence.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:house_id) %>:</strong></dt>
  <dd><%= @sentence.house_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sentence_text) %>:</strong></dt>
  <dd><%= @sentence.sentence_text %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sentences_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sentence_path(@sentence), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sentence_path(@sentence),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
